html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  padding-top: 100px;
  background-color: #29cdb5;
}
@font-face {
  font-family: 'Fugaz One';
  font-style: normal;
  font-weight: 400;
  src: local('Fugaz One'), local('FugazOne-Regular'), url(https://fonts.gstatic.com/s/fugazone/v8/rax_HiWKp9EAITukFsl8Axha.ttf) format('truetype');
}
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script'), local('OleoScript-Regular'), url(https://fonts.gstatic.com/s/oleoscript/v7/rax5HieDvtMOe0iICsUccChdu0o.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v6/L0x5DF4xlVMF-BfR8bXMIjhLq3o.ttf) format('truetype');
}
nav {
  position: fixed;
  width: 100%;
}
nav * {
  color: #f2ead3;
}
@media ( min-width: 800px ) {
  nav {
    background-color: teal;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media ( max-width: 800px ) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
}
nav .nav-head {
  width: 100%;
  background-color: teal;
}
nav .nav-head h1 {
  background-color: #f2ead3;
  font-weight: bold;
  color: #634d4d;
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media ( min-width: 800px ) {
  nav .nav-head {
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
@media ( max-width: 800px ) {
  nav .nav-head {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
nav .menu {
  height: 100%;
}
@media ( min-width: 800px ) {
  nav .menu {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
}
@media ( max-width: 800px ) {
  nav .menu {
    position: relative;
    z-index: -1;
    width: 100%;
    background-color: teal;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    transform: translateY(0px);
    transition: all 0.2s;
  }
}
nav .menu a {
  font-family: 'Oleo Script', cursive;
  font-size: 1.5em;
  text-decoration: none;
  transition: all 0.1s;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media ( max-width: 800px ) {
  nav .menu a {
    height: 50px;
    background-color: teal;
  }
}
nav .menu a:last-child {
  background-color: #f2ead3;
  color: #634d4d;
}
nav .menu a:last-child:hover {
  color: teal;
  transition: all 0.1s;
}
@media ( min-width: 800px ) {
  nav .menu a:hover {
    color: #634d4d;
    transition: color 0.1s;
  }
}
nav .menu a:active {
  color: #634d4d;
  padding-top: 10px;
  border: none;
}
nav .dropdown-button {
  background-color: teal;
  border: none;
}
nav .dropdown-button .dropdown-icon {
  transform: rotate(0deg);
  transition: all 0.25s;
}
nav .dropdown-button .dropdown-icon path {
  fill: #f2ead3;
}
@media ( max-width: 800px ) {
  nav .dropdown-button {
    height: 50px;
    width: 50px;
  }
}
nav .dropdown-button.dropdown-button-active svg {
  transform: rotate(-180deg);
  transition: all 0.25s;
}
@media ( min-width: 800px ) {
  nav .hidden-desktop {
    display: none;
  }
}
@media ( max-width: 800px ) {
  nav .hidden-mobile {
    transform: translateY(-50px);
    transition: all 0.2s;
  }
}
.introduction {
  background-color: teal;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  box-shadow: 0px 2.5px 5px 0px #008080;
  margin: 5%;
}
