html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  background-color: #29cdb5;
}
@media ( max-width: 375px ) {
  html,
  body {
    max-width: 375px;
  }
}
.container {
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  background-color: #29cdb5;
}
@media ( max-width: 375px ) {
  .container {
    max-width: 375px;
  }
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}
.image {
  width: 100% !important;
  height: 600px;
  position: sticky;
  background-image: url("../assets/background-tabs.png");
  background-repeat: repeat;
  background-attachment: fixed;
}
footer {
  display: flex;
  box-shadow: 0px 2.5px 5px 0px #008080;
  padding: 25px;
  width: 80%;
  margin: auto;
  background-color: #634d4d;
  margin-bottom: 20px;
  border-radius: 20px;
}
.contact {
  height: auto;
  background-color: #634d4d;
  color: #f2ead3;
  font-size: 2em;
  font-family: "Lato", monospace;
}
.contact p {
  text-align: center;
}
.contact p a {
  text-decoration: none;
  color: #29cdb5;
}
.contact p a:hover {
  color: teal;
}
.emphasis {
  color: #333333;
  text-decoration: underline;
}
@font-face {
  font-family: 'Fugaz One';
  font-style: normal;
  font-weight: 400;
  src: local('Fugaz One'), local('FugazOne-Regular'), url(https://fonts.gstatic.com/s/fugazone/v8/rax_HiWKp9EAITukFsl8Axha.ttf) format('truetype');
}
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script'), local('OleoScript-Regular'), url(https://fonts.gstatic.com/s/oleoscript/v7/rax5HieDvtMOe0iICsUccChdu0o.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v6/L0x5DF4xlVMF-BfR8bXMIjhLq3o.ttf) format('truetype');
}
nav {
  position: relative;
  z-index: 99;
  position: fixed;
  width: 100%;
}
nav * {
  color: #f2ead3;
}
@media ( min-width: 800px ) {
  nav {
    background-color: teal;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media ( max-width: 375px ) {
  nav {
    max-width: 375px;
  }
}
@media ( max-width: 800px ) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
}
nav .nav-head {
  width: 100%;
  background-color: teal;
}
nav .nav-head h1 {
  background-color: #f2ead3;
  font-weight: bold;
  color: #634d4d;
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media ( min-width: 800px ) {
  nav .nav-head {
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
@media ( max-width: 800px ) {
  nav .nav-head {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
nav .menu {
  height: 100%;
}
@media ( min-width: 800px ) {
  nav .menu {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
}
@media ( max-width: 800px ) {
  nav .menu {
    position: relative;
    z-index: -1;
    width: 100%;
    background-color: teal;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    transform: translateY(0px);
    transition: all 0.2s;
  }
}
nav .menu a {
  font-family: 'Oleo Script', cursive;
  font-size: 1.5em;
  text-decoration: none;
  transition: all 0.1s;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media ( max-width: 800px ) {
  nav .menu a {
    height: 50px;
    background-color: teal;
  }
}
nav .menu a:last-child {
  background-color: #f2ead3;
  color: #634d4d;
}
nav .menu a:last-child:hover {
  color: teal;
  transition: all 0.1s;
}
@media ( min-width: 800px ) {
  nav .menu a:hover {
    color: #634d4d;
    transition: color 0.1s;
  }
}
nav .menu a:active {
  color: #634d4d;
  padding-top: 10px;
  border: none;
}
nav .dropdown-button {
  background-color: teal;
  border: none;
}
nav .dropdown-button .dropdown-icon {
  transform: rotate(0deg);
  transition: all 0.25s;
}
nav .dropdown-button .dropdown-icon path {
  fill: #f2ead3;
}
@media ( max-width: 800px ) {
  nav .dropdown-button {
    height: 50px;
    width: 50px;
  }
}
nav .dropdown-button.dropdown-button-active svg {
  transform: rotate(-180deg);
  transition: all 0.25s;
}
@media ( min-width: 800px ) {
  nav .hidden-desktop {
    display: none;
  }
}
@media ( max-width: 800px ) {
  nav .hidden-mobile {
    transform: translateY(-50px);
    transition: all 0.2s;
  }
}
header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}
header img {
  box-shadow: 0px 2.5px 5px 0px #008080;
}
@media ( max-width: 375px ) {
  header img {
    max-width: 325px;
  }
}
.introduction {
  order: -1;
  font-family: 'Lato', monospace;
  line-height: 1.5;
  color: #634d4d;
  background-color: #f2ead3;
  margin: 5%;
  padding: 0% 2.5%;
  box-shadow: 0px 2.5px 5px 0px #008080;
}
@media ( min-width: 800px ) {
  .introduction {
    width: 40%;
  }
}
@media ( max-width: 800px ) {
  .introduction {
    width: 100%;
  }
}
.introduction h1 {
  font-family: 'Oleo Script', cursive;
  transform: translateY(-50%);
  width: fit-content;
  background-color: #634d4d;
  color: #f2ead3;
  font-size: 2em;
}
@media ( min-width: 800px ) {
  .introduction h1 {
    padding: 5px 25px;
  }
}
@media ( max-width: 800px ) {
  .introduction h1 {
    padding: 1px 5px;
  }
}
.introduction P::before {
  line-height: 1;
  content: "“";
  font-family: fantasy;
  font-size: 2.5em;
}
.introduction p {
  margin-top: -2.5%;
  font-size: 1.5em;
}
.introduction a {
  font-size: 1.5em;
  line-height: 3;
  width: 100%;
  text-align: right;
  color: #1395ba;
}
.introduction a:hover,
.introduction a:active {
  color: #333333;
}
@media ( min-width: 800px ) {
  .introduction a:hover::before,
  .introduction a:active::before {
    content: ">>>--[";
  }
  .introduction a:hover::after,
  .introduction a:active::after {
    content: "]-->";
  }
}
.team {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: flex-start;
}
@media ( max-width: 375px ) {
  .team {
    max-width: 375px;
  }
}
.bio {
  background-color: #f1f3f4;
  max-width: 350px;
  box-shadow: 0px 2.5px 5px 0px #008080;
  margin-bottom: 15px;
}
.bio figure {
  max-height: 400px;
  overflow: hidden;
  text-align: center;
}
.bio figure img {
  max-width: 300px;
  transition: all 0.5s;
}
.bio figure img:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
.bio .box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bio h4 {
  text-align: center;
  line-height: 1.5;
  width: fit-content;
  margin: auto;
  color: #f1f3f4;
  background-color: #1395ba;
  font-family: 'Lato', monospace;
  font-size: 30px;
  padding: 5px 10px;
}
.bio p::before {
  line-height: 1;
  content: "“";
  font-family: fantasy;
  font-size: 2.5em;
}
.bio p {
  font-size: 1.2em;
  color: #333333;
  font-family: 'Lato', monospace;
  line-height: 1.5;
  width: 90%;
  padding: 5%;
}
@media ( max-width: 800px ) {
  .bio[data-role="Team Lead"] {
    order: -1;
  }
}
.social {
  background-color: #f1f3f4;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.social a {
  background-color: #f2ead3;
}
@media ( min-width: 800px ) {
  .social a:hover svg {
    fill: teal;
  }
}
.social a:active svg {
  transform: translateY(0px);
  fill: #333333;
}
.social svg {
  fill: #333333;
}
.features {
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 0px 0px 100px;
}
@media ( max-width: 375px ) {
  .features {
    max-width: 375px;
  }
}
.feature {
  background-color: #f2ead3;
  box-shadow: 0px 2.5px 5px 0px #008080;
}
@media ( min-width: 800px ) {
  .feature {
    width: 30%;
  }
}
@media ( max-width: 800px ) {
  .feature {
    width: 100%;
  }
}
.feature h3 {
  font-family: 'Oleo Script', cursive;
  background-color: #634d4d;
  color: #f2ead3;
  font-size: 2em;
}
@media ( min-width: 800px ) {
  .feature h3 {
    padding: 5px 25px;
  }
}
@media ( max-width: 800px ) {
  .feature h3 {
    padding: 1px 5px;
  }
}
.feature p {
  font-family: 'Lato', monospace;
  font-size: 1.5em;
  margin: 5%;
  padding: 0% 2.5%;
  color: #634d4d;
  background-color: #f2ead3;
  line-height: 1.5;
}
