.flex(@direction, @main, @cross) {
    display: flex;
	flex-direction: @direction;
    justify-content: @main;
    align-items: @cross;
}

.size(@width, @height) {
    height: @height;
    width: @width;
}

.dropdown-animation(@positionY, @duration) {
    transform: translateY(@positionY);
    transition: all @duration;
}

.rotate-animation(@degree, @duration) {
    transform: rotate(@degree);
    transition: all @duration;
}