.flex(@direction, @main, @cross) {
    display: flex;
	flex-direction: @direction;
    justify-content: @main;
    align-items: @cross;
}

.size(@width, @height) {
    height: @height;
    width: @width;
}
