@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Oleo+Script|Roboto+Mono');

// @primary-font: "Lato", times;
@nav-height: 50px;
@nav-bg-color:teal;
@anchor-color: @beige;
nav {
    position: fixed;
    width: 100%;
    * {
        color: @anchor-color;
    }
    @media @desktop {
        background-color: @nav-bg-color;
        height: @nav-height;
        .flex(row, space-between, center);
    }

	@media @mobile {
        .flex(column, center, stretch);

    }

    .nav-head {
        width: 100%;
        background-color: @nav-bg-color;

        h1 {
            background-color:@beige;
            font-weight: bold; 
            color: @brown;
            font-family: 'Roboto Mono', monospace;
            font-size: 2em;
            .flex(row, center, center);
            @media @mobile {
                
            }
        }
        @media @desktop {
            padding-left: 5%;
            .flex(row, flex-start, center); 
   
        }
    	@media @mobile {

            .flex(row-reverse, space-between, center);    
        }    
    }

    .menu {
        height: 100%;
        @media @desktop {
            width: 40%;
            .flex(row, space-around, stretch);
        }

        @media @mobile {
            position: relative;
            z-index: -1;
            width: 100%;
            background-color: teal;
            .flex(row, space-evenly, stretch);
            .dropdown-animation(0px, 0.2s);
        }
        
        a {
            font-family: 'Oleo Script', cursive;
            font-size: 1.5em;
            text-decoration: none;
            transition: all 0.1s;
            width: 100%;
            .flex(row, center, center);
            &#about {
            }

            @media @desktop {
            }

            @media @mobile {
                height: @nav-height;
                background-color: teal;
            }
            &:last-child {
                background-color: @beige;
                color: @brown;

                &:hover {
                    color: teal;
                    transition: all 0.1s;
                }
            }

            &:hover {
                @media @desktop {
                    color: @brown;
                    transition: color 0.1s;
                }
            }

            &:active {
                color: @brown;
                padding-top: 10px;
                border: none;
                @media @desktop {

                }
            }
        }
    }

    .dropdown-button {

        .dropdown-icon {

            .rotate-animation(0deg, 0.25s);

            path {
                fill: @beige;
            }
        }
        background-color: @nav-bg-color;
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: 80%;
        // border: solid @beige 2px;
        border: none;
        // border-radius: 10px;
        // transition: background-image 0.5s;
        @media @mobile {
            .size(50px,50px);
        }

        &.dropdown-button-active {
            // transition: background-image 0.5s;
            svg {
                .rotate-animation(-180deg, 0.25s);
            }

        }
    }

    .hidden-desktop {
        
        @media @desktop {
            display: none;
        }
    }

    .hidden-mobile {

        @media @mobile {
            .dropdown-animation(-50px, 0.2s);
        }
    }

    
}