@primary-font: "Lato", times;


nav {
    background-color: #29cdb5;
    height: 50px;
    font-family: @primary-font;
    position: fixed;
    width: 100%;
    * {
        color: #fff3e1;
    }
    @media @desktop {
        .flex(row, space-between, baseline);
    }

	@media @mobile {
        .flex(column, space-between, stretch);

    }

    .nav-top {

        h1 {
            font-size: 2em;
        }
        text-align: center;
        @media @desktop {
            padding-left: 100px;
        }
    	@media @mobile {
            .flex(row, space-between, baseline);    
        }    
    }



    .menu {

        @media @desktop {
            width: 40%;
            .flex(row, space-evenly, baseline);
        }

        @media @mobile {
            .flex(column, space-evenly, stretch);
        }
        
        a {
            text-align: center;
            font-size: 1.5em;
            text-decoration: none;
            &#about {
            }


            &:hover {
                color: #5e4949
            }

            &:active {}

            @media @mobile {

            }
        }
    }

    .dropdown-button {
        
        @media @mobile {
            .size(50px,50px);
        }
    }

    .hidden-desktop {
        
        @media @desktop {
            display: none;
        }
    }

    .hidden-mobile {
        
        @media @mobile {
            display: none;
        }
    }

    
}